.dialog-window {
  display: flex;
  flex-direction: row;
  height: 100vh;
  position: relative;
  .dialog {
    width: calc(100% - 50px);
    height: 100vh;
    .header {
      border-bottom: 1px solid #dcdee2;
      padding: 15px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 69px;
      .person {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        .avatar{}
        .info {
          margin-left: 10px;
          .name {
            font-size: 15px;
            color: #000000;
            font-weight: bold;
          }
          .bio {
            color: #808695;
          }
        }
      }
      .option {
        display: flex;
        .btn-container {
          font-size: 24px;
          line-height: 40px;
          padding: 0 10px;
          .btn {
            transition: all, .3s;
            cursor: pointer;
            &:hover {
              color: #19be6b;
            }
          }
        }
      }
    }
    .dialog-view {
      // 聊天界面剩余部分
      padding: 20px;
      height: calc(100vh - 70px - 100px);
      overflow: auto;
    }
    .editor {
      height: 100px;
      background: #efeff3;
    }
  }
  .menu-mask {
    position: absolute;
    top: 0;
    right: 50px;
    width: calc(100vw - 50px);
    height: 100vh;
    background: rgba(0,0,0,.8);
    z-index: 09;
    
  }
  .menu-container {
    width: 0;
    height: 100vh;
    z-index: 10;
    background: #ffffff;
    transition: all, 0.5;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 50px;
    .menu-page {
      padding: 15px;
      .title {
        font-size: 16px;
        padding-bottom: 15px;
        color: #000000;
        font-weight: bold;
        border-bottom: 1px solid #dcdee2;
      }
      .partner {
        display: flex;
        border-bottom: 1px solid #dcdee2;
        padding: 20px 0;
        .avatar {
          width: 80px;
          height: 80px;
          border-radius: 50%;
          overflow: hidden;
          img {
            width: 100%;
          }
        }
        .info {
          margin-left: 20px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          .name {
            font-size: 16px;
            font-weight: bold;
            color: #000000;
          }
          .email {
            margin-top: 10px;
            font-size: 14px;
            color: #c5c8ce;
          }
        }
      }
      .group-create {
        height: 50px;
        border-bottom: 1px solid #dcdee2;
        font-size: 16px;
        color: #2b85e4;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        transition: all, .3s;
        &:hover {
          color: #5cadff;
        }
      }
      .setting-list {
        padding: 5px 0;
        .list-item {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          .label {
            margin: 10px 0;
            .name {
              font-size: 14px;
              color: #000000;
            }
            .remark {
              color: #808695;
            }
          }
          .list {
            display: flex;
            flex-direction: column;
            justify-content: center;
          }
        }
      }
      .menu-page-body {
        width: 100%;
        height: calc(100vh - 80px);
        overflow: auto;
        .nothing {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: calc(100vh - 80px - 100px);
          .image {
            width: 120px;
            img {
              width: 100%;
            }
          }
          .desc {
            margin-top: 20px;
            color: #808695;
            span {
              color: #2d8cf0;
            }
          }
        }
      }
    }
    
  }
  .menu-r {
    height: 100vh;
    background: #e8eaec;
    width: 50px;
    .menu-item {
      font-size: 20px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      color: #808695;
      cursor: pointer;
      &:hover {
        color: #2b85e4;
      }
    }
    .active {
      color: #2b85e4;
    }
  }
}