.window-btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  .btn {
    background: transparent;
    width: 50px;
    height: 25px;
    margin: 0;
    cursor: pointer;
    position: relative;
    color: #333333;
    &:hover {
      color: #333333;
    }
    .bt-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 1;
    }
  }
  .close-bt:hover {
    background: #ef6a5f;
  }
  .minsize-bt:hover, .maxsize-bt:hover {
    background: rgba(0,0,0,.4);
    color: #ffffff;
  }
}