#main {
  background: #ffffff;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  .menu-bar {
    background: #17233d;
    width: 64px;
    .window-btn-container {
      padding: 15px 6px;
      -webkit-app-region: drag;
    }
  }
  .router-view {
    width: calc(100vw - 64px);
  }
}
